{%  extends 'base.html.twig' %}
{% block title 'Les pièces' %}
{% block body %}
    <div class="jumbotron text-center" >
        <div class="container">
            <H1>Pièces de la maison</H1>
        </div>
    </div>

    <div class="container">
        <div class="row flex">
            {% for piece in pieces %}
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <H5 class="card-title">
                                <a href="{{ path('piece.show', {id: piece.id, slug: piece.slug}) }}">{{ piece.titre }}</a>
                            </H5>
                            <p class="card-text">au {{ piece.formatEtage() }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}